
$global-font-family: "MarkPro", sans-serif;
$font-color: #434343;
$background-color: #FFFEFF;
$white: #FFFFFF;
$button : #FF5E1F;
$otp-button: #F8F9FB;
$black: #000;
$icon-color : #0094F3;
$hover-color : #dadada;
$red: #ea3434;
$card-background : #ffffff;