$global-font-family: "MarkPro", sans-serif;
$font-color: #434343;
$secondary-font-color: #687175;
$price-font-color : #FE5E20;

$font-size-p: 16px;

$background-color: #F8F9FA;
$white: #ffffff;
$button: #ff5e1f;
$otp-button: #f8f9fb;
$black: #000;
$icon-color: #0094f3;
$hover-color: #dadada;
$red: #ea3434;
$card-background: #ffffff;
$footer-color : #1C2930;