$global-font-family: "MarkPro", sans-serif;
$font-color: #434343;
$background-color: #fffeff;
$white: #ffffff;
$button: #ff5e1f;
$otp-button: #f8f9fb;
$black: #000;
$icon-color: #0094f3;
$hover-color: #dadada;
$red: #ea3434;
$card-background: #ffffff;
