@import "../../variables.scss";
@import "../../mixins.scss";

.user-transaction{
    padding: 1.5rem 0rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    .user-transaction-content{
        h2{
            margin-top: 0;
        }
        background-color: $card-background;
        display: block;
        padding: 1rem;
        width: 100%;
        
    }
}