@import "../../mixins.scss";
@import "../../variables.scss";

.search-page {
  width: 100%;
}

.hotel-search-result, 
.flight-search-result {
  height: 800px;
  h1{
    margin: 0;
  }
  width: 100%;

  .flight-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    height: 700px;
  }

  .hotel-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    overflow-y: scroll;
    height: 700px;
  }
}

.search-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  color: var(--font-color);
  .sorting-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    width: 300px;
    height: 700px;
    overflow: scroll;
    .search-sorting-container {
      h4 {
        margin: 0;
        margin-top: 5px;
      }
      display: flex;
      @include border-radius;
      flex-direction: column;
      background-color: var(--card-background);
      padding: 0.5rem;
    }
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 10px;

  .checkbox-label {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    margin: .2rem 0;
    color: var(--font-color);

    .checkbox-custom {
      width: 20px;
      height: 20px;
      border: 2px solid var(--icon-color);
      border-radius: 4px;
      margin-right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s, border-color 0.3s;
      margin-left: .2rem;

      &.checked {
        background-color: var(--icon-color);
        border-color: var(--icon-color);
      }

      .checkbox-icon {
        color: var(--icon-color);
        font-size: 16px;
      }
    }
  }
}
