@import "../mixins.scss";
@import "../variables.scss";

.add-hotel{
    .submit-button{
        @include centered;
        gap: 5px;
        color: $white;
        background-color: $icon-color;
        border: none;
        padding: 0.5rem;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        font-weight: 400;
        width: 100%;
        &:hover{
            background-color: darken($icon-color, 10%);
        }
    }

    .selected-facilities{
        display: flex;
        gap: 5px;
        margin-bottom: 10px;
    }

    .facilities-container{
        border: 1px solid rgb(224, 217, 217);
        padding: 5px;
        display: flex;
        background-color: ghostwhite;
        border-radius: 10px;
        font-size: 14px;
        button{
            @include centered;
            font-size: 14px;
            border: none;
            background: none;
        }
    }

    .add-button{
        @include centered;
        padding: 5px;
        background-color: $icon-color;
        color: white;
        border-radius: 5px;
        border: none;
        margin-bottom: 20px;
        cursor: pointer;
        font-weight: 500;
        &:hover{
            background-color: darken($icon-color, 10%);
        }
    }
    .room-list{
        display: flex;
        flex-direction: row;
        gap: 10px;
        .room-detail{
            background-color: ghostwhite;
            border: 1px solid rgb(224, 217, 217);
            border-radius: 10px;
            gap: 10px;
            padding: 10px;
            .room-detail-description{
                display: flex;
                flex-direction: column;
                p{
                    margin: 4px 0px;
                }
            }
        }
    }
}