@import "../variables.scss";
@import "../mixins.scss";

.airline-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    background-color: $icon-color;
    border: none;
    color: white;
    height: 2.5rem;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: darken($icon-color, 10%);
    }
  }
}

.add-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 60%;
  overflow-y: scroll;
  background-color: $white;
  padding: 1rem;
  z-index: 99;
  border-radius: 10px;
  &.open {
    display: block;
  }
}

.airline-list {
  .airline-container {
    display: flex;
    flex-wrap: wrap;
  }

  .airline-item {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: $card-background;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    .airline-image-container {
      height: 150px;
      @include centered;
      img {
        max-width: 100%;
        height: auto;
        border-radius: 4px;
      }
    }
    p {
      margin-top: 10px;
      color: $black;
    }
  }
}
