@import "../../mixins.scss";
@import "../../variables.scss";

.profile-page{
    padding: 1.5rem 0rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    .profile-container{
        width: 100%;
        h2{
            margin-top: 0;
        }
        .profile-content{
            background-color: var(--card-background);
            display: block;
            padding: 1rem;
            border-radius: 8px;
            @include box-shadow;

            .gender-container {
                .gender-option{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    margin: .5rem 0rem;
                }
              }

            .personal-information{
                p{
                    margin: 0;
                    font-size: 18px;
                    padding: .5rem 0rem;
                    font-weight: 500;
                }
                border-bottom: 0.1rem solid #CDD0D1;
            }
            .personal-form{
                width: 100%;
                margin: .8rem 0;
                .name-form{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 2rem;
                }
                .profile-button{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 2rem;
                    button{
                        @include border-radius;
                        padding: .4rem;
                        background-color: var(--button);
                        color: white;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}