@import "../mixins.scss";
@import "../variables.scss";

.nav-bar {
  @include centered;
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  gap: 1rem;

  .logo-icon {
    color: var(--icon-color);
  }

  a {
    color: black;
  }

  .hover {
    height: 2rem;
    padding: 0.3rem;
    @include centered;
    border-radius: 5px;
  }

  .hover:hover {
    background-color: var(--hover-color);
    cursor: pointer;
  }

  .search-bar {
    position: relative;
    width: 20rem;
    border: 0.2px solid black;
    border-radius: 5px;
    background-color: mix(black, white, 10%);

    input {
      border-radius: 5px;
      border: none;
      outline: none;
      padding: 10px 0px;
      padding-left: 35px;
      padding-right: 10px;
      width: 85%;
      background-color: transparent;
      z-index: 1;
      font-family: $global-font-family;
    }

    .search-icon {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1rem;
      color: gray;
    }

    .search-option{
      position: absolute;
      display: none;
      width: 100%;
      top: 105%;
      color: var(--font-color);
      @include border-radius;
      background-color: var(--card-background);
      .search-item{
        padding: 5px 10px;
        display: flex;
        align-items: center;
        gap: .5rem;
        z-index: 10;
        &:hover{
          background-color: var(--hover-color);
          cursor: pointer;
        }
      }
    }
    &.search-option {
      display: none;
    }
    
    &.show-options .search-option {
      display: block;
    }
  }

  .cart {
    @include centered;
    border-radius: 10px;
    gap: 5px;
    position: relative;
    .notif-transaction{
      position: absolute;
      top: 0%;
      left: 90%;
      background-color: red;
      padding: 5px;
      border-radius: 100%;
      width: 15px;
      height: 15px;
      @include centered;
    }
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    background-color: black;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: -1;  
  }

  .overlay.open {
    display: block;
    z-index: 98;
  }

  .flag-container {
    @include centered;
    position: relative;
    gap: 3px;
    width: 100px;
    border-radius: 5px;
    
    .flag {
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 100%;
      margin-right: 6px;
    }
    .hover-content {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: var(--card-background);
      @include border-radius;
    }
    &:hover .hover-content {
      display: block;
    }
  }

  .pay {
    @include centered;
    border-radius: 10px;
    gap: 2px;
    position: relative;
    .pay-content{
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      width: 15rem;
      z-index: 99;
      @include border-radius;
      padding: 1rem;
      background-color: var(--card-background);
      h3{
        margin: 10px 0px;
      }
      .payment-from-travelohi{
        display: flex;
        justify-content: space-between;
      }
      .travelohi-payment{
        display: flex;
        flex-direction: row;
        margin: 10px 5px;
        gap: 3px;
        align-items: center;
      }
    }
    &:hover .pay-content {
      display: block;
    }
  }

  .hi-wallet{
    display: relative;
    .hi-wallet-balance{
      position: absolute;
      display: none;
      top: 40%;
      right: 100%;
      background-color: black;
      color: white;
      @include border-radius;
      padding: 5px 15px;
      width: max-content;
    }
    &:hover .hi-wallet-balance{
      display: block;
    }
  }

  .login {
    @include centered;
    gap: 5px;
    font-size: 1rem;
    font-weight: 600;
  }

  .register {
    @include centered;
    gap: 5px;
    color: $white;
    background-color: var(--icon-color);
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bolder;
  }

  .register:hover {
    background-color: var(--lighten-icon-color);
  }

  .logout {
    @include centered;
    gap: 5px;
    color: $white;
    background-color: red;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
  }

  .logout:hover {
    background-color: darken(red, 10%);
  }

  #profile-picture {
    object-fit: cover;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    margin-right: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}
