@import "../mixins.scss";
@import "../variables.scss";

.profile-information{
    background-color: $card-background;
    min-width: 350px;
    height: 350px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .profile-information-detail{
        display: flex;
        flex-direction: row;
        @include centered;
        gap: 1rem;
        padding: .5rem 0rem;
        border-bottom: 0.1rem solid #CDD0D1;
        overflow: hidden;
        margin-bottom: 15px;
        img{
            width: 64px;
            height: 64px;
            object-fit: cover;
            border-radius: 50%;
            @include box-shadow;
        }
    }
    .profile-information-option{
        display: flex;
        flex-direction: row;
        font-size: 18px;
        margin: .2rem;
        justify-content: start;
        gap: .8rem;
        padding: .5rem;
        border-radius: 5px;
        align-items: center;
        p{
            text-decoration: none;
            color: $font-color;
        }
        &:hover{
            cursor: pointer;
            background-color: $hover-color;
        }
        .profile-icon{
            width: 1.5rem;
            height: 1.5rem;
            color: $icon-color;
        }
    }
}