@import "../variables.scss";
@import "../mixins.scss";

.sidebar {
    height: 100%;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $white;
    padding: 10px;
    color: white;
    transition: transform 0.3s ease;
    z-index: 99;
    overflow-y: scroll;
    flex: 0.2;

    &::-webkit-scrollbar{
      display: none;
    }
  
    &.open {
      transform: translateX(0);
    }
  
    &.closed {
      transform: translateX(-100%);
    }
  
    ul {
      list-style-type: none;
      padding: 0;
      color: $black;
    }

    .sidebar-profile{
      color: $black;
      display: block;
      background-color: lighten($icon-color, 40%);
      border-radius: 5px;
      padding: 5px; 
      margin-bottom: 10px;
      display: flex;
      text-align: left;
      align-items: center;
      gap: 1rem;
      justify-content: center;
      img{
        width: 5rem;
        height: 5rem;
        border-radius: 100%;
        margin-right: 5px;
        object-fit: cover;
      }
    }

    .sidebar-menu{
      padding: 15px;
      text-align: left;
      font-size: 16px;
      cursor: pointer;
      border-radius: .5rem;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      text-align: center;
      color: $black;
      &:hover{
        background-color: $hover-color;
      }
    }
}
  