@import "../mixins.scss";

.text-field{

    input{
        @include border-radius;
        padding: 10px;
        &:focus{
            outline: none;
        }
    }
    
    label{
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
        display: block;
    }
}