@import "../mixins.scss";
@import "../variables.scss";

.text-area {
  textarea {
    @include border-radius;
    width: 100%;
    padding: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    font-family: $global-font-family;
    height: 10rem;
    background-color: var(--secondary-font-color);
    color: var(--font-color);
  }

  label {
    display: block;
    margin-bottom: 8px;
    color: var(--font-color);
  }
}
